/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-image: linear-gradient(to right, lightblue , lightpink); 
}

/* STYLE TEXT */
h1 {
  font-family: 'Arial', sans-serif;
  color: #296d98;
  text-align: center;
  font-size: 48px;
}

h3{
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Arial', sans-serif;
  color: #001833;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: 'Arial', sans-serif;
  color: #cf1578;
  text-align: center;
  font-size: 38px;
}

p{
  font-family: 'Arial', sans-serif;
  color: black;
  text-align: center;
  font-size: 10px;
}

#heading{
  margin-top: 2em;
  font-size: 45px;
  color: #039fbe
}

#bullying{
  margin-top: 1em;
  font-size: 42px;
}

#factBtn{
  font-size: 30px
}

/* STYLE IMAGES */

/* STYLE NAV BAR */
 *{
   margin: 0px;
   padding: 0px; 
  
 }
nav{
  padding:1em;
}

ul {
  list-style:none;
  background-color:lavender;
  overflow: hidden;
  padding:1em;
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-weight: 600px;
}

li {
  display: inline;
  
}

li a {
  text-decoration:none;
  color:hotpink;
  font-size 1.3em;
  padding: 1em;

  
}
li a:hover {
  background-color: #lavender;
  text-decoration:underline
}

/* STYLE BUTTONS */

/* ADD MORE! */

.flexboxContainer {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
}

.flexItem {
  flex-basis: 100%;
  text-align: center;
}

.genFact {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

#factBtn {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #643B9F;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  font-size: 32px;
}

img {
  width: 80%;
}

@media screen and (max-width: 600px;) {
  .flex-container {
    flex-wrap: wrap;
    h2 {
      font-size: 12px;
    }
  }
